$white-0: #ffffff;
$placeholder-0: #b4b4b4;

$primary-main: #029cfd;
$primary-light: lighten($primary-main, 30%);
$primary-dark: darken($primary-main, 50%);
$primary-text: #151518;

$secondary-main: #606060;
$secondary-light: lighten($secondary-main, 30%);
$secondary-dark: darken($secondary-main, 50%);
$secondary-text: #dcdcee;

$info-main: #2196F3;
$info-light: lighten($info-main, 30%);
$info-dark: darken($info-main, 50%);
$info-text: $white-0; 

$error-main: #ff473a; 
$error-light: lighten($error-main, 30%);
$error-dark: darken($error-main, 50%);
$error-text: $white-0; 

$warning-main: #ffd042; 
$warning-light: lighten($warning-main, 30%);
$warning-dark: darken($warning-main, 50%);
$warning-text: $white-0; 

$success-main: #4CAF50; 
$success-light: lighten($success-main, 30%);
$success-dark: darken($success-main, 50%);
$success-text: $white-0; 
